<button on:click>
  <slot></slot>
</button>

<style>
  button {
    height: 32px;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    border-radius: 4px;
    outline: none;
    cursor: pointer;

    transition: background 0.2s ease-out;
  }

  button:hover {
    background: rgba(0, 0, 0, 0.2);
  }
</style>
