<script>
  import { createEventDispatcher } from 'svelte';
  // Components
  import ActionButton from './ActionButton.svelte';

	const dispatch = createEventDispatcher();
</script>

<div class="header">
  <h1 class="title">Web Worker Lab</h1>
  <div class="actions">
    <ActionButton on:click={() => dispatch('create-worker')}>
      Create Worker
    </ActionButton>
  </div>
</div>  

<style>
  .header {
    height: 100%;
    padding: 0 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--app-head-background);
    color: white;
  }

  .title {
    margin: 0;
  }

  .actions {
    margin-left: auto;
  }
</style>
