<script>
  import { onMount, onDestroy } from "svelte";
  import { registry } from "../service.js";
  // Components
  import Playground from "./Playground.svelte";
  import SidePanel from "./SidePanel.svelte";
  import WorkerItem from "./WorkerItem.svelte";

  let subID;
  let workers = [];

  onMount(() => {
    subID = registry.on("worker-added", e => {
      workers = [...workers, e];
    });
  });

  onDestroy(() => {
    registry.off(subID);
  });
</script>

<div class="main">
  <Playground>
    {#each workers as { uuid, worker }}
      <WorkerItem {uuid} {worker} />
    {/each}
  </Playground>
  <SidePanel />
</div>

<style>
  .main {
    height: 100%;
    padding: 24px;
    background-color: var(--app-main-background);

    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
