<script>
  import { onMount, onDestroy } from "svelte";
  import { fade } from "svelte/transition";

  export let uuid;
  export let worker;

  const actions = [
    { name: "1" },
    { name: "2" },
    { name: "3" },
  ];

  let item;
  let dragging = false;
  let showActions = false;

  function dragItem(event) {
    item.style.left = `${event.pageX - 48}px`;
    item.style.top = `${event.pageY - 48}px`;
  }
  function dragStart() {
    document.addEventListener("mousemove", dragItem);
    dragging = true;
  }
  function dragStop() {
    item.removeEventListener("click", dragStop);
    document.removeEventListener("mousemove", dragItem);
    setTimeout(() => dragging = false);
  }
  function dragHandler(event) {
    if (event.ctrlKey) {
      event.stopPropagation();
      dragStart();
      item.addEventListener("click", dragStop);
    }
  }

  function toggleActions() {
    if (!dragging) showActions = !showActions;
  }

  onMount(() => {
    item.addEventListener("click", dragHandler, { capture: true });
  });

  onDestroy(() => {
    item.removeEventListener("click", dragHandler, { capture: true });
  });
</script>

<div class="worker-item" bind:this={item}>
  <div class="back"></div>
  <div class="front" on:click={toggleActions}>
    <img
      class="icon"
      src="/assets/worker-icon.svg"
      alt="worker-icon"
    />
  </div>
  {#if showActions}
    <div class="actions">
      {#each actions as action, i}
        <div
          class="btn"
          style="--btn-angle: {i * 30}deg;"
          transition:fade={{ duration: 200, delay: i * 100 }}
        >
          {action.name}
        </div>
      {/each}
    </div>
  {/if}
</div>

<style>
  .worker-item {
    --item-size: 96px;
    --btn-size: 24px;
    --btn-dist: calc(var(--item-size) / 2 + var(--btn-size) / 2 + 22px);

    position: absolute;
    top: calc(50% - var(--item-size) / 2);
    left: calc(50% - var(--item-size) / 2);
    width: var(--item-size);
    height: var(--item-size);
  }

  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow:
      inset 0 0 16px 8px #DC143C,
      0 0 16px 8px #DC143C;
  }

  .front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #6495ED;
  }

  .front .icon {
    width: calc(var(--item-size) / 2);
    height: calc(var(--item-size) / 2);
    filter: invert(1);
  }

  .actions {
    position: absolute;
    top: 50%;
    right: 50%;
  }

  .actions .btn {
    position: absolute;
    top: calc(0px - var(--btn-size) / 2);
    left: calc(0px - var(--btn-size) / 2);
    width: var(--btn-size);
    height: var(--btn-size);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #6495ED;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;

    transform:
      rotate(var(--btn-angle))
      translateY(calc(0px - var(--btn-dist)));
  }
</style>