<script>
  import { createWorker } from "./service.js";
  // Components
  import Header from "./components/Header.svelte";
  import Main from "./components/Main.svelte";
</script>

<div id="app">
  <div class="app-head">
    <Header
      on:create-worker={createWorker}
    />
  </div>
  <div class="app-body">
    <Main />
  </div>
</div>

<style>
  #app {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr;
    grid-template-areas:
      "head"
      "body"
    ;
  }

  .app-head {
    grid-area: head;
  }

  .app-body {
    grid-area: body;
  }
</style>
