:root {
  --app-head-background: #0064C8;
  --app-main-background: #F7F7F7;
  --app-font-size: 16px;
  --app-font-color: #000;
}

html {
  font-size: var(--app-font-size);
  color: var(--app-font-color);
}

body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
